.week-table{
    font-size: 15px;

    &__table{
        font-size: 12px;
        border-color: black;
        width: 80%;
        margin-left: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        flex-direction: column;
        margin-right: 3rem;
        
        
        border: 1px;
        flex-direction: column;
    }
    &__summary{
        font-size: 12px;
        border-color: black;
        width: 80%;
        border: 1px;
        margin-left: 2rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &__employee__info_header{
        text-decoration: black;
    }
    &__button {
      display: inline-block;
      padding: 0.3em 1em;
      margin: 0 0.3em 0.3em 0;
      border-radius: 0.2em;
      font-weight: 400;
      color: $text-1;
      background-color: $colour-3;
      text-align: center;
      position: relative;
      box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);  
    }

    &__button:active{
        box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    }

    &__select {
        display: inline-block;
        padding: 0.3em 1em;
        margin: 0 0.9em 0.3em 0;
        border-radius: 0.2em;
        box-shadow: none;
        font-weight: 400;
        color: $text-1;
        background-color: $colour-1;
        text-align: center;
        position: relative;
        box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);  
    }

    &__table__header {
        font-weight: bolder;
        text-transform: uppercase;
        background-color: $colour-4;
    }
    &__add__button{
        flex-direction: column;
        margin-top: 3rem;
    }
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    padding: 0.5%;
    background-color: $colour-3;
    color: $text-1;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12); 
}

table td {
    position: relative;
    padding: 1%;
  }

table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }

  table td textarea {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }
table {
    border-radius: 0.2em;
}